/*UNIVERSAL
========================================================== */
* {
	padding:0;
	margin:0;
}

body { 
  background-color: #fff; 
  color: #333; 
  background: url(../images/bg_cloud.gif) repeat-x;
}

body, p, ol, ul, td {
  font-family: Lucida Grande,  arial, helvetica, sans-serif;
  font-size:   10px;
  line-height: 14px;
}

div {
	margin-top:10px;
	margin-bottom:5px;
}

h1 {
  display:none;
}

h3 {
	margin-top:;
	color:grey;
}

th {
	padding:5px;
}

table {
	border-color: #cacaca;
	border-width: 1px;
	border-style: dashed;
}
/*FORM
========================================================== */

div.left {
	border: grey solid 1px;
	width:300px;
	padding:5px;
}

form {
	padding-bottom: 20px
	}



/*CLASS
========================================================== */
.container {
  margin:25px auto;
  padding:0;
  width: 1070px;
}
.float_left{
  float:left;
}
.float_right_padding{
  float:right;
padding-right:280px;
}
.float_right{
  float:right;
}
.list-line-odd{
	background:#deebff; 
}
.list-line-even{
	background:; 
}
.table_header{
}
.float_right{
  float:right;
}
.email {
  margin-left:650px;
}
.clear {
	clear:both;
}

.extra {
	display:none;
}

.bg_white {
	background-color: white;
	}
/*AIRLINES
========================================================== */
#airline_list {
  margin:20 auto;
  background:#fff;
  border:;
  width:1050px;
}

#airlines {
border-collapse:collapse;
text-align:center;
}

#airlines tr:hover {
background-color: #f9ffb5;
}

#airlines th{
  font-style: normal;
  font-weight: normal;
  background-color: #e2e2e2;
}

#air_text {
  margin: 0 auto;
  width:496px;
  padding-bottom: 20px;
  
}
#search_box a {
  color:grey;
}
#search_box a:hover {
  color:#fff;
}

tr, td {
	padding:3px;
}
/*LINKS
========================================================== */
a { 
  color: #333; 
}
a:visited { 
  color: #666; 
}
a:hover { 
  color: #fff; background-color:#000; 
}

/*ERRORS
========================================================== */
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


