/*UNIVERSAL
========================================================== */
body { 
  background-color: #fff; 
  color: #333; 
  background: url(../images/body_bg.gif) repeat-x;
}
body, p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
  font-size:   10px;
  line-height: 18px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
h1 {
  display:none;
}
/*CLASS
========================================================== */
.container {
  margin:25px auto;
  padding:0;
  width:1100px;
}
.float_left{
  float:left;
}
.float_right{
  float:right;
}
.list-line-odd{
	background:#F2F2FA; 
}
.list-line-even{
	background:; 
}
.float_right{
  float:right;
}
.email {
  margin-left:650px;
}

/*AIRLINES
========================================================== */
#airline_list {
  margin:20 auto;
  background:#fff;
  border:;
  width:1050px;
}

table {
border-collapse:collapse;
text-align:center;
}

tr:hover {
background-color: #ffe564;
}

#air_text {
  margin: 0 auto;
  width:496px;
  
}
#search_box a {
  color:grey;
}
#search_box a:hover {
  color:#fff;
}

/*LINKS
========================================================== */
a { 
  color: #333; 
}
a:visited { 
  color: #666; 
}
a:hover { 
  color: #fff; background-color:#000; 
}

/*ERRORS
========================================================== */
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


